@font-face {
  font-family: "Protomolecule";
  src: url("/public/assets/fonts/Protomolecule.woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  font-family: "Protomolecule", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/public/assets/expanse.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  overflow-x: hidden;
}
#root {
  min-height: 100vh;
  display: flex;
}

h1 {
  font-size: 5rem;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

.unsupported-network {
  width: 340px;
  max-width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
  padding: 1rem;
}

.error {
  width: 340px;
  max-width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f00;
}

.landing,
.connect-wallet,
.mint-nft,
.member-page {
  flex-direction: column;
  width: 960px;
  max-width: calc(100% - 1rem);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
  align-content: center;
  display: flex;
  text-align: center;
}
.landing h1 p {
  font-size: 2rem;
  letter-spacing: 3px;
  color: #fff;
  font-weight: 400;
  transform: translate(0, 8rem);
}
.landing button {
  transform: translate(0, 4rem);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 60%,
    rgba(88, 80, 68, 1) 100%
  );
}

button {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: none;
  font-family: inherit;
  padding: 1.2rem 2rem;
  border-radius: 3rem;
  font-size: 2rem;
  letter-spacing: 3px;
  font-weight: 400;
}

button:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 31%, rgb(90, 63, 63) 100%);
}

button:focus {
  background-color: #222;
}

button:disabled {
  opacity: 0.8;
  pointer-events: none;
}
.member-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.member-page .member-page-heading {
  font-size: 2.5rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin-top: 25rem;
  padding: 0;
}
.member-page p {
  padding: 0;
  margin: 0;
}
.member-page h2 {
  font-size: 2rem;
  letter-spacing: 3px;
  font-weight: 500;
  padding: 0;
  margin: 0.5rem;
}
.member-page .member-page-heading .member-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.member-list .card thead tr {
  width: 20rem;
  margin: auto;
}

.member-list .card thead th {
  padding: 0.5rem;
  margin: auto;
}
